// imports to (main - index.scss) file
@use './styles/reset'; // using @use instead of @import for modern SCSS use-case

// color scheme >>>
$color-bg: #455435; // army green, darkish
$color-body: #E8E4C9; // dirty white
$color-card: #28282B; // dull black
$color-button-bg: #238AB5; // dark baby blue

/* import Google fonts >>> refs
    1) https://fonts.google.com/specimen/Rock+3D?categoryFilters=Feeling:%2FExpressive%2FPlayful
    2) https://fonts.google.com/specimen/Shadows+Into+Light
    3) https://fonts.google.com/specimen/Open+Sans?preview.text=Use%20the%20three%20attempts%20you%20have...
*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); // using import >> title text // "Card Match Game"
@font-face { // using font-face >>> card text // turned over
    font-family: 'Rock_3D-Cards';
    src: url(../assets/fonts/Rock3D-Regular.ttf) format('truetype');
}
@font-face { // using font-face >>> body text // normal
    font-family: 'Open_Sans-normal';
    src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}
@font-face { // using font-face >>> body text // italic 
    font-family: 'Open_Sans-italic';
    src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
}
.shadows-into-light-regular { // CSS class to use the imported font
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: $color-bg;
    font-family: Open_Sans-normal;
}

#header-attempts-text {
    font-family: Open_Sans-italic;
}