// imports to (main - index.scss) file
@use './styles/reset'; // using @use instead of @import for modern SCSS use-case
@use './styles/typography'; // separate for better organization

// color scheme >>>
$color-bg: #455435; // army green, darkish
$color-body: #E8E4C9; // dirty white
$color-card: #28282B; // dull black
$color-button-bg: #238AB5; // dark baby blue

body {
    background-color: $color-bg;
    font-family: Open_Sans-normal;
}

#header-attempts-text {
    font-family: Open_Sans-italic;
}